@charset "UTF-8";

$primary-color: #263238;

.ui.modal {
    > .scrolling.content {
        position: relative;
        min-height: 100px;
    }

    > .close.inside {
        color: #ffffff;
        top: calc(15px - .625rem);
    }

    .modal-header {
        padding: 15px 0 15px 0 !important;

        &.inverted {
            background-color: $primary-color;
            color: #fff;
        }

        h4 {
            margin: 0 2.25rem 0 20px;
        }

        .ui.inverted.segment.breadcrumb-header {
            position: relative;
            top: 15px;
        }
    }

    .ui.sticky {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        margin-top: -1.5rem;
    }

    .content-main-container-spacing {
        padding-top: 1.5em;
    }
}
