@charset "UTF-8";

$size: 20px !default;

$primary-color: #263238;
$secondary-color: #677074;

$scrollbar-handle-color-default: $primary-color !default;
$scrollbar-handle-color-scrolling: scale-color($primary-color, $lightness: -15%) !default;
$scrollbar-handle-color-active: scale-color($primary-color, $lightness: 15%) !default;

$scrollbar-track-color-default: #808080 !default;
$scrollbar-track-color-active: #d3d3d3 !default;

.os-theme-fafcms {
    > .os-scrollbar {
        padding: 0;
    }

    > .os-scrollbar-horizontal {
        right: $size;
        height: $size;
    }

    > .os-scrollbar-vertical {
        bottom: $size;
        width: $size;
    }

    &.os-host-rtl > .os-scrollbar-horizontal {
        left: $size;
        right: 0;
    }

    > .os-scrollbar-corner {
        height: $size;
        width: $size;
        background-color: transparent;
    }

    > .os-scrollbar > .os-scrollbar-track {
        background: transparent;
    }

    > .os-scrollbar-horizontal > .os-scrollbar-track:before,
    > .os-scrollbar-vertical > .os-scrollbar-track:before {
        content: '';
        display: block;
        position: absolute;
        background: $scrollbar-track-color-default;
    }

    > .os-scrollbar-horizontal > .os-scrollbar-track:before {
        left: 5px;
        right: 5px;
        height: 2px;
        top: 50%;
        margin-top: -1px;
    }

    > .os-scrollbar-vertical > .os-scrollbar-track:before {
        top: 5px;
        bottom: 3px;
        width: 2px;
        left: 50%;
        margin-left: -1px;
    }

    > .os-scrollbar-horizontal:hover > .os-scrollbar-track:before,
    > .os-scrollbar-horizontal.active > .os-scrollbar-track:before {
        left: 0;
        right: 0;
        height: 100%;
        top: 0;
        margin-top: 0;
        background: $scrollbar-track-color-active;
    }

    > .os-scrollbar-vertical:hover > .os-scrollbar-track:before,
    > .os-scrollbar-vertical.active > .os-scrollbar-track:before {
        top: 0;
        bottom: 0;
        width: 100%;
        left: 0;
        margin-left: 0;
        background: $scrollbar-track-color-active;
    }

    > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
        background: transparent;
    }

    > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle {
        min-width: 100px;
        max-width: 100px;
    }

    > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
        min-height: 100px;
        max-height: 100px;
    }

    > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle:before {
        content: '';
        display: block;
        position: absolute;
        top: 4px;
        bottom: 4px;
        left: 4px;
        right: 4px;
        background: $scrollbar-handle-color-default;
    }

    &.os-host-scrolling > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle:before {
        background: $scrollbar-handle-color-scrolling;
    }

    > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle:hover:before,
    > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle.active:before {
        background: $scrollbar-handle-color-active;
    }

    > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle {
        height: 100%;
        min-width: $size;
    }

    > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
        width: 100%;
        min-height: $size;
    }

    &.os-host-transition > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle:before {
        transition: background 0.3s;
    }

    &.os-host-transition > .os-scrollbar > .os-scrollbar-track:before {
        transition: margin 0.3s, height 0.3s, width 0.3s, top 0.3s, right 0.3s, bottom 0.3s, left 0.3s, background 0.3s;
    }
}
