@charset "UTF-8";

$sidenav-trigger-color: #ffffff;

.ui.sidebar.sidebar-main {
    background-color: #ffffff;

    .ui.segments > .segment {
        border-radius: 0;
    }
}

.pushable > .pusher {
    height: 100%;
    padding-top: 46px + 26px;
    transition: transform .5s ease, padding-left .5s ease;
}

.sidebar-right-visible .pushable > .pusher {
    padding-right: 70px;
}

header.ui.fixed.menu {
    left: auto;
    transition: width .5s;
}

.sidebar-main-visible {
    .pushable > .pusher {
        padding-left: 260px;
    }

    header.ui.fixed.menu {
        width: calc(100% - 260px);
        left: auto;
    }
}

.ui.compact.vertical.menu.menu-view {
    top: 46px;
    height: calc(100% - 48px);
    width: 70px !important;

    .item {
        text-overflow: ellipsis;
        overflow: hidden;

        > i.icons {
            height: 1em;
            display: block;
            font-size: 1.71428571em !important;
            margin: 0 auto .5rem !important;
            float: none;
        }
    }
}

.ui.vertical.menu.menu-sidebar {
    width: 100%;
    border-radius: 0;
    border: none;
    box-shadow: none;

    .ui.accordion .accordion {
        margin: 0;
    }

    .content {
        background: rgba(0, 0, 0, .05);
    }

    .item {
        white-space: nowrap;
        overflow: hidden;
        word-break: keep-all;
        text-overflow: ellipsis;

        > i.icon, > i.icons {
            float: none;
            margin: 0 .5em 0 0;
        }

        i.dropdown.icon {
            padding: 0;
            float: right;
            margin: 0 0 0 1em;
        }
    }
}

.sidenav-trigger {
    > div {
        > div {
            position: relative;
            width: 22px;
            height: 2px;
            margin-bottom: 4px;
            transition: transform .4s, opacity .3s;

            &:after,
            &:before {
                position: absolute;
                display: block;
                content: "";
                width: 100%;
                height: 100%;
                pointer-events: none;
            }

            &:before {
                background: $sidenav-trigger-color;
                opacity: 1;
                transform: translate3d(0%,0,0);
            }

            &:after {
                background: $sidenav-trigger-color;
                opacity: 0;
                transform: translate3d(50%,0,0);
            }
        }

        > div:nth-child(1) {
            transform: translate3d(0,0,0) rotate3d(0,0,1,0deg);
            &:after,
            &:before {
                transition: transform .4s, opacity .3s;
            }
        }

        > div:nth-child(2) {
            opacity: 1;
            &:after,
            &:before {
                transition: transform .4s .1s, opacity .3s .08s;
            }
        }

        > div:nth-child(3) {
            margin-bottom: 0;
            transform: translate3d(0,0,0) rotate3d(0,0,1,0deg);

            &:after,
            &:before {
                transition: transform .4s .2s, opacity .3s .18s;
            }
        }
    }

    &:hover {
        > div > div {
            &:before {
                opacity: 0;
                transform: translate3d(-50%,0,0);
            }

            &:after {
                opacity: 1;
                transform: translate3d(0%,0,0);
            }
        }
    }
}

.sidebar-main-visible .sidenav-trigger > div {
    > div:nth-child(2) {
        opacity: 0;
    }

    > div:nth-child(1) {
        transform: translate3d(0,6px,0) rotate3d(0,0,1,-45deg);
    }

    > div:nth-child(3) {
        transform: translate3d(0,-6px,0) rotate3d(0,0,1,45deg);
    }
}
