@charset "UTF-8";

.ui.segment.action-bar {
    position: fixed;
    right: 0;
    max-width: 100%;
    z-index: 100;

    &:not(.active) {
        max-width: 20px;
        padding-right: 0;

        .toggle-action-bar .icon {
            transform: rotate(180deg);
        }
    }

    bottom: 40px;
    border-radius: 10px 0 0 10px !important;
    transition: max-width .8s;
    padding-left: calc(1em + 30px);

    .ui.icon.button.toggle-action-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px;

        .icon {
            transition: opacity .1s ease, transform .4s;
        }
    }
}

.sidebar-right-visible .ui.segment.action-bar {
    right: 69px;
}
