body {
    background-color: $footer-bg-color;

    > .os-scrollbar.os-scrollbar-vertical {
        top: $navbar-height + 31px !important;
    }

    > .os-padding > .os-viewport > .os-content {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
}

html {
    color: color("secondary", "base");
    font-weight: 300;
}

th {
    font-weight: 300;
}

a {
    font-weight: 400;
}

main {
    flex: 1 0 auto;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea, textarea.ace-editor {
    color: color("primary", "darken-4");
}

.error-text {
    color: $error-color !important;
}

.success-text {
    color: $success-color !important;
}

.full-width {
    width: 100%;
}

.btn-flat {
    text-align: center;
}

.input-field .helper-text {
    min-height: 0;
}

.flex-row {
    display: flex;
    margin: 0 (-1 * $gutter-width / 2);

    > * {
        flex-grow: 1;
        margin: 0 0 0 ($gutter-width / 2) !important;

        &:last-child {
            margin-right: ($gutter-width / 2) !important;
        }
    }
}

.gradient-background {
    background: radial-gradient(ellipse at center, $secondary-color 0%, $primary-color 90%);;
}

.same-height {
    display: flex;
    flex-wrap: wrap;

    > .col {
        margin-left: 0 !important;
    }
}

.collection .collection-item.avatar {
    min-height: 0;
}

//TODO move to installer asset bundle
.plugin-card {
    height: calc(100% - #{$element-top-margin + $element-bottom-margin});

    .card-content {
        height: 144px;
        display: flex;
        flex-flow: wrap;

        p {
            line-height: 1.2;
            height: 54px;
            width: 100%;
        }

        .plugin-chips {
            width: 100%;
            margin-top: $card-padding;
            height: calc(26px + #{$card-padding});
            white-space: nowrap;
            align-self: flex-end;
        }
    }

    .plugin-image {
        padding: 16px;
        display: flex;
        flex-flow: wrap;
        justify-content: center;

        .circle {
            display: inline-block;
            height: 80px;
            width: 80px;
            background-color: #ffffff;
            color: $primary-color;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            img {
                position: absolute;
                width: 100%;
                padding: 5px;
                left: auto;
                right: auto;
                top: auto;
                bottom: auto;
                z-index: 2;
            }

            i {
                line-height: 80px;
                font-size: 40px;
            }
        }

        .card-title {
            position: static;
            padding: 0;
            margin-top: 16px;
            line-height: 1.25;
            height: 90px;
            width: 100%;
            word-break: break-all;
            text-shadow: 0 0 5px #000000;
        }
    }
}

.chips-list .chip {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
}

.chip {
    transition: background-color .5s, color .5s;

    &:hover {
        background-color: $chip-selected-color;
        color: #ffffff;
    }
}

iframe {
    border: 0;
    width: 100%;
}

.search-wrapper {
    position: relative;

    input {
        margin: 0 !important;
        padding: 0 10px !important;
        width: calc(100% - 20px) !important;
    }

    button {
        position: absolute;
        top: 6px;
        right: 6px;
        height: 34px;
        width: 34px;

        i {
            line-height: 34px;
        }
    }
}

.user-container {
    display: inline-flex;
    align-items: center;

    .user-image {
        &, img {
            width: 34px;
            height: 34px;
        }

        float: left;
        overflow: hidden;
        margin: 8px 10px 8px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: $primary-color;
        background-color: #ffffff;
        border-radius: 50%;

        img {
            position: absolute;
            z-index: 2;
        }
    }

    &.chip .user-image {
        float: left;
        margin: 0 8px 0 -12px;
        box-shadow: none;

        &, img {
            height: 32px;
            width: 32px;
        }
    }

    .user-name {
        float: left;
    }
}

span.badge {
    font-weight: 300;
    font-size: 0.6rem;
    color: #fff;
    background-color: $primary-color;
    margin: 0 !important;
    padding: 0 5px;
    position: relative;
    left: -4px;
    top: -12px;
    height: auto !important;
    line-height: 16px !important;
    border-radius: 8px;
    min-width: 0;
}

.language-list-item {
    box-shadow: 0 0 0 1px $secondary-color;
    padding: 0 5px;
    margin: 5px;
    line-height: 1em;
    float: left;
}

:root {
    --text-scroller-speed: 10s;
    --text-scroller-position: -100%
}

.text-scroller {
    overflow: hidden;
    max-width: 100%;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;

    > span {
        position: relative;
        left: 0;
        transition: left var(--text-scroller-speed) linear;
    }

    &.default-overflow {
        text-overflow: initial;
    }

    &.text-scroll-animation {
        > span {
            left: var(--text-scroller-position);
        }
    }
}

.autocomplete-content li .highlight {
    font-weight: bold;
}

.no-click:active {
    pointer-events: none;
}

.no-pointer {
    pointer-events: none;
}
