@charset "UTF-8";

.loading-button {
    position: relative;
    pointer-events: none;
    cursor: default;

    .progress {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        background-color: transparent;
    }
}
