$card-padding: 24px !default;
$card-footer-bg-color: #f2f2f2 !default;

.card {
    .card-content {
        .card-title {
            margin-bottom: 0;
            padding-bottom: $card-padding;

            .toggle-collapsible-card, .btn-group {
                float: right;
            }

            .toggle-collapsible-card i {
                transition: transform .5s, margin-top .5s;
            }

            .btn-group {
                line-height: 0;
            }

            .btn-floating {
                height: 32px;
                width: 32px;
                margin-left: 10px;

                i {
                    float: left;
                    font-size: 1.4rem;
                    line-height: 32px;
                }
            }
        }

        > :last-child {
            margin-bottom: 0;
        }

        .tab-wrapper {
            margin: 0 #{-$card-padding};
            overflow-x: hidden;
            overflow-y: visible;
            background-color: color("grey", "lighten-4");

            > .row {
                padding: 0 $card-padding;
            }
        }

        .widget-card {
            margin: 0 #{-$card-padding} #{-$card-padding} #{-$card-padding};
        }
    }

    .card-action {
        background-color: $card-footer-bg-color;
        padding: $card-padding;

        &:last-child {
            border-radius: 0;
        }

        > .row {
            margin-bottom: 0;
        }

        .btn, .btn-flat {
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &:not(.not-collapsible) {
        will-change: max-height;

        &.collapsed-collapsible-card {
            > .card-content > .card-title .toggle-collapsible-card i {
                transform: rotate(-180deg);
                margin-top: 2px;
            }

            overflow: hidden;
            max-height: calc(32px + #{($card-padding * 2)});
        }
    }
}
