$form-required-label-font-weight: bold !default;
$form-required-label-color: #000000 !default;
$form-required-label-content: "*" !default;

div.required {
    label {
        font-weight: $form-required-label-font-weight;
        color: $form-required-label-color;

        &:after {
            content: $form-required-label-content;
        }
    }
}

.radio-field, .checkbox-field {
    margin-top: 1rem;
    margin-bottom: calc(1rem + #{$input-margin-bottom});
}

.input-field-button {
    display: flex;
    align-items: center;
    position: relative;

    .form-group, .input-field {
        width: calc(100% - #{$button-floating-size} - 11px);
        transition: width .4s;
    }

    .btn-floating {
        position: absolute;
        right: 0;
        transition: opacity .4s .4s;
    }

    &.input-field-button-hidden {
        .form-group, .input-field {
            width: calc(100% - 1px);
            transition: width .4s .4s;
        }

        .btn-floating {
            transition: opacity .4s, width 0s .4s;
            width: 0;
            opacity: 0;
        }
    }
}

dl {
    dd {
        margin-left: 10px;
    }

    dt {
        float: left;
    }
}

.ace_editor + textarea + label {
    transform: translateY(-14px) scale(0.8);
    transform-origin: 0 0;
}

.chips-container {
    > label {
        position: absolute;
        margin-top: -1rem;
    }

    .close {
        font-size: 0;
        line-height: inherit;

        &::before {
            display: inline-block;
            font: normal normal normal 24px/1 "Material Design Icons";
            font-size: 16px;
            text-rendering: auto;
            line-height: inherit;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\F156";
        }
    }
}
