$modal-border-color: #8b1014 !default;
$modal-background-color: #fdeaeb !default;
$modal-header-background-color: #8b1014 !default;
$modal-header-close-background-color: #e51c23 !default;
$modal-header-close-hover-background-color: #8b1014 !default;
$modal-footer-background-color: #8b1014 !default;

.modal:not(.datepicker-modal):not(.timepicker-modal) {
    border-radius: 0px;
    max-height: 80%;
    width: 95% !important;
    border: 2px solid $modal-border-color;
    background-color: $modal-background-color;
    min-width: 50%;

    &#confirm-modal {
        width: auto !important;
        max-width: 95%;
        left: auto;
        right: auto;
        align-self: center;
    }

    header.modal-header {
        background-color: $modal-header-background-color;
        color: #ffffff;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 200;
        height: auto;

        h4 {
            margin: 0 50px 0 0;
            line-height: 50px;
            padding: 0 0.75rem;
            font-size: 1.5rem;
        }
    }

    .modal-header-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        border: 0;
        border-radius: 0;
        width: 50px;
        height: 50px;
        line-height: 50px;
        background-color: $modal-header-close-background-color;
        color: #ffffff;
        box-shadow: none;
        z-index: 201;

        &:hover {
            background-color: $modal-header-close-hover-background-color;
        }
    }

    .modal-content, .modal-footer {
        & > *:last-child {
            margin-bottom: 0;
        }
    }

    .modal-footer {
        overflow: hidden;
        background-color: $modal-footer-background-color;
        border-radius: 0;
        padding: 0 ($gutter-width / 2);
        display: flex;
        width: 100%;
        align-items: center;

        .flex-row {
            width: calc(100% + 1.5rem);
        }
    }

    .modal-content {
        margin-top: -100%;
        padding: 0;
        transition: margin-top .5s;
    }

    &.modal-fixed-footer {
        height: 80%;

        .modal-content {
            height: calc(100% - 136px);
            padding: 0;
        }
    }

    .search-input-container {
        top: 80px;
    }
}
