header {
    min-height: $navbar-height + 30px;

    .navbar-fixed nav {
        box-shadow: none;

        .nav-wrapper > ul > li {
            line-height: 1;

            > a {
                padding: 0 10px;
                height: $navbar-height;
                display: flex;
                align-items: center;

                &:hover, &:focus {
                    background-color: color("primary", "darken-2");
                }
            }
        }

        .dropdown-content,
        .dropdown-content.active {
            top: $navbar-height !important;
            width: 200px !important;
        }

        .dropdown-content li {
            min-height: 43px;

            > a, > span {
                font-size: 15px;
                padding: 14px;
                line-height: 1;
            }
        }

        .sidenav-trigger {
            display: flex !important;
            align-items: center;
            justify-content: center;
            margin: 0;
            width: $navbar-height;
            line-height: $navbar-height;
            transition: .3s ease-out;


            > div {
                > div {
                    display: block;
                    position: relative;
                    width: 22px;
                    height: 2px;
                    margin-bottom: 4px;
                    margin-left: auto;
                    margin-right: auto;
                    transition: transform .4s, opacity .3s;

                    &:after,
                    &:before {
                        position: absolute;
                        display: block;
                        content: "";
                        width: 100%;
                        height: 100%;
                        pointer-events: none;
                    }

                    &:before {
                        background: #ffffff;
                        opacity: 1;
                        transform: translate3d(0%,0,0);
                    }

                    &:after {
                        background: #ffffff;
                        opacity: 0;
                        transform: translate3d(50%,0,0);
                    }
                }

                > div:nth-child(1) {
                    transform: translate3d(0,0,0) rotate3d(0,0,1,0deg);
                    &:after,
                    &:before {
                        transition: transform .4s, opacity .3s;
                    }
                }

                > div:nth-child(2) {
                    opacity: 1;
                    &:after,
                    &:before {
                        transition: transform .4s .1s, opacity .3s .08s;
                    }
                }

                > div:nth-child(3) {
                    margin-bottom: 0;
                    transform: translate3d(0,0,0) rotate3d(0,0,1,0deg);

                    &:after,
                    &:before {
                        transition: transform .4s .2s, opacity .3s .18s;
                    }
                }
            }

            &:hover {
                > div > div {
                    &:before {
                        opacity: 0;
                        transform: translate3d(-50%,0,0);
                    }

                    &:after {
                        opacity: 1;
                        transform: translate3d(0%,0,0);
                    }
                }
            }

            &:hover, &:focus {
                background-color: color("primary", "darken-2");
            }
        }
    }
}

.page-footer {
    .footer-copyright {
        background-color: $collapsible-border-color;

        a {
            color: $footer-copyright-font-color;
        }

        .info-links a {
            margin-right: .5rem;
            padding-right: .5rem;
            border-right: 1px solid $footer-copyright-font-color;
            display: inline-block;

            &:last-child {
                border-right: none;
            }
        }
    }

    .row {
        width: 100%;
        margin-bottom: 0;
    }
}

@media #{$large-and-up} {
    body {
        .page-header, main, .page-footer {
            transition: padding 0.5s;
            will-change: padding;
        }

        .sidenav.sidenav-fixed {
            transition: left 0.5s;
            will-change: left;
            left: -$sidenav-width !important;
        }

        .navbar-fixed nav, .pinned {
            transition: width 0.5s;
            will-change: width;
        }

        &.has-sidenav-fixed {
            .page-header, main, .page-footer {
                padding-left: 300px;
            }

            .sidenav.sidenav-fixed {
                left: 0 !important;
            }

            .navbar-fixed nav, .pinned {
                width: calc(100% - 300px);
            }
        }
    }
}

.sidenav {
    border-right: 1px solid $collapsible-border-color;
    background-color: darken(#ffffff, 8%);
    box-shadow: none;
    overflow: visible;
    height: 100%;

    ul {
        margin: 0;
    }

    li {
        div, a {
            font-weight: normal;

            &, i {
                color: $primary-color;
            }

            &.subheader {
                line-height: 25px;
            }

            &, &.collapsible-header {
                padding: 0 0 0 $sidenav-padding;
                border-bottom: 1px solid $collapsible-border-color;
            }

            &.collapsible-header {
                background-color: #ffffff;

                i.mdi-chevron-down {
                    transition: transform 0.3s ease-out;
                }
            }

            > i {
                margin-right: 10px;
                font-size: 18px;
                text-align: center;
            }
        }

        a {
            background-color: #ffffff;
        }

        &.active > .collapsible-header > i.mdi-chevron-down {
            transform: rotate(180deg);
        }
    }

    .collapsible-body {
        background-color: transparent;

        li > a {
            padding: 0 0 0 ($sidenav-padding * 2);
            background-color: darken(#ffffff, 4%);
        }
    }

    .user-view {
        padding: 16px;
        margin-right: -1px;
        margin-bottom: 0;
        overflow: hidden;
        min-height: 145px;

        .logo {
            display: inline-block;
            height: 80px;
            width: 80px;
            overflow: hidden;

            .fafcms-filemanager-image-wrapper {
                width: 80px;
                height: 80px;
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: center;
                background-color: #ffffff;

                img {
                    width: 100%;
                }
            }
        }

        .name {
            margin-top: 0;
            text-shadow: 0 0 5px #000000;
        }

        .change-project {
            display: block;
        }

        .change-language {
            display: inline-block;
            height: 25px;
            width: 25px;
            overflow: hidden;
            border: 1px solid #fff;
            margin: 0 5px;
            opacity: .5;
            transition: opacity .4s;

            &:hover {
                opacity: 1;
            }

            .flag-icon {
                font-size: 23px;
            }

            &.active {
                opacity: 1;

                a {
                    cursor: default;
                    pointer-events: none;
                }
            }
        }
    }

    > .fafcms-scrollbars {
        position: absolute;
        height: calc(100% - 145px);
        width: 100%;
    }
}

.has-sidenav-fixed header .navbar-fixed nav .sidenav-trigger > div {
    > div:nth-child(2) {
        opacity: 0;
    }

    > div:nth-child(1) {
        transform: translate3d(0,6px,0) rotate3d(0,0,1,-45deg);
    }

    > div:nth-child(3) {
        transform: translate3d(0,-6px,0) rotate3d(0,0,1,45deg);
    }
}
