.content-wrapper .row {
    margin-left: (-1 * $gutter-width / 2);
    margin-right: (-1 * $gutter-width / 2);
}

.pinned {
    z-index: 800;
    left: 0;
    right: 0;
}

//is this needed?
.tabs {
    white-space: inherit;
    .tab a {
        padding: 0;
    }
}
