#toast-container {
    top: $navbar-height;
    right: 0;
    padding-bottom: $toast-height + 2;
    background-color: $toast-color;
    border: 1px solid color("secondary", "darken-4");
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

    .toast, .close-all-toast-action {
        box-shadow: none;
        border-radius: 0;
        max-width: 450px;
        min-width: 200px;
        padding: 0;
        display: flex;
        align-items: stretch;
        border: 1px solid color("secondary", "darken-4");
        margin-top: -1px;

        .toast-message-container {
            display: flex;
            padding: 11px 0;
            flex-grow: 1;
            align-items: center;
            min-height: $toast-height;
            color: color("secondary", "darken-4");
        }

        .toast-action-container {
            margin-left: 15px;
            display: flex;

            .btn {
                color: color("secondary", "darken-4");
                transition: color .5s;

                &:hover {
                    color: color("secondary", "base");
                }
            }
        }

        .btn, .toast-status-icon {
            background-color: transparent;
            min-height: $toast-height;
            line-height: $toast-height;
            font-size: 18px;
            box-shadow: none;
            padding: 0 7px;
            color: #ffffff;
        }

        .toast-status-icon {
            margin-right: 15px;
            box-shadow: inset 0 0px 10px 0px rgba(0, 0, 0, 0.5);
            text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        }
    }

    .close-all-toast-action {
        bottom: 0;
        position: absolute;
        width: 100%;
        top: auto;
        cursor: pointer;
    }
}
