.mce-visualblocks *[data-tag-type] {
    padding-top: 10px;
    border: 1px dashed #BBBBBB;
    margin: 0 0 1em 3px;
    display: block;
    position: relative;

    &:after {
        content: attr(data-tag-type);
        font-size: 8px;
        float: left;
        line-height: 1;
        text-transform: uppercase;
        color: #BBBBBB;
        top: -10px;
        font-weight: lighter;
        letter-spacing: 1px;
        border: 1px dashed #BBBBBB;
        display: block;
        float: left;
        position: absolute;
        top: -1px;
        left: -1px;
    }
}
