@charset "UTF-8";

$primary-color: #263238;
$secondary-color: #677074;
$imageBorderRadius: 0.125rem;
$imageBorder: 3px solid #ffffff;
$background-color: #f2f2f2;
$content-padding: 1.5em;
$breadcrumb-text: #ffffff;

.nowrap {
    white-space: nowrap;
}

.content-main {
    background-color: $background-color;
}

.ui.segments > .segment.language-selection {
    border: 0;

    .ui.horizontal.list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item {
            padding: .5em;

            i.icon.flag-icon {
                font-size: 20px;
            }

            &.language-selection-add {
                width: 31px;
                height: 100%;
                text-align: center;
                line-height: 20px;
                margin-left: auto;
                border-left: 1px solid rgba(34,36,38,.15);

                .icon {
                    padding: 0;
                }
            }
        }
    }
}

.gradient-background {
    background: linear-gradient(90deg, scale-color($primary-color, $lightness: -15%) 0%, $primary-color 50%, scale-color($primary-color, $lightness: 15%) 100%) !important;
    text-shadow: 0 0 3px #000000;
}

.ui.image img {
    background-color: #ffffff;
}

.ui.items > .item > .image,
i.icon.flag-icon,
.ui.avatar.image, .ui.avatar.image img, .ui.avatar.image svg, .ui.avatar.images .image, .ui.avatar.images img, .ui.avatar.images svg {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
}

.flag-icon {
    width: 1.33333333em !important;
    line-height: 1em !important;
}

.ui.items > .item > .image img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: $imageBorderRadius;
    border: $imageBorder;
}

.ui.inverted.menu.menu-header {
    background-color: $primary-color;
    height: 46px;
}

.ui.inverted.segment.breadcrumb-header {
    height: 26px;
    background-color: $secondary-color;
    padding: .25em $content-padding !important;

    .ui.breadcrumb {
        float: left;

        a {
            color: $breadcrumb-text;
        }

        .active {
            color: scale-color($breadcrumb-text, $lightness: -25%);
        }

        i.icon, i.icons {
            &.mdi {
                font-size: 1.2em;
                position: relative;
                top: 0.1em;
            }
        }
    }
}

.pusher > .ui.inverted.segment.breadcrumb-header {
    position: fixed;
    top: 46px;
    width: calc(100% - 260px);
}

.sidebar-right-visible .pusher > .ui.inverted.segment.breadcrumb-header {
    width: calc(100% - 260px - 70px);
}

.content-main {
    .content-main-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column;
        overflow: scroll;
    }

    main {
        flex: 1;
    }

    .content-main-container-spacing, footer {
        padding: $content-padding !important;
    }

    .ui.vertical.segment.footer {
        background-color: rgba(0, 0, 0, .1);

        .menu-footer-left .item:first-child {
            padding-left: 0 !important;
        }
    }
}

i.icon, i.icons {
    &.mdi {
        font-size: 1.2em;
    }
}

.ui.secondary.pointing.menu {
    background-color: #ffffff;
    margin-top: 0;
}

.yii-debug-toolbar_position_bottom {
    left: 0 !important;
    right: auto !important;
}

.ui.grid > .row > .column {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ui.grid.compact > .row > .column {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.breadcrumb {
    white-space: nowrap;
}

.hide {
    display: none !important;
}

.ui.primary.button, .ui.primary.buttons .button {
    background-color: rgba($primary-color, .6);
}

.ui.primary.button:hover, .ui.primary.buttons .button:hover {
    background-color: rgba(scale-color($primary-color, $lightness: -30%), .6);
}

.ui.primary.button:focus, .ui.primary.buttons .button:focus {
    background-color: rgba(scale-color($primary-color, $lightness: -60%), .6);
}

.ui.primary.button:active, .ui.primary.buttons .button:active {
    background-color: rgba(scale-color($primary-color, $lightness: -60%), .6);
}

.fluid-buttons {
    display: inline-flex;
    flex-direction: row;
    width: 100%;

    .button {
        flex: 1 0 auto;
    }
}
