@charset "UTF-8";

:root {
    --text-scroller-speed: 10s;
    --text-scroller-position: -100%
}

.text-scroller {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;

    > span {
        position: relative;
        left: 0;
        transition: left var(--text-scroller-speed) linear;
    }

    &.default-overflow {
        text-overflow: initial;
    }

    &.text-scroll-animation {
        > span {
            left: var(--text-scroller-position);
        }
    }
}
