@charset "UTF-8";

.ui.toggle.checkbox {
    input:checked + label:before {
        content: attr(data-label-on);
        color: #ffffff;
        padding-left: 6px;
        font-size: .75em;
        line-height: 1.5rem;
    }

    input:not(:checked) + label:before {
         content: attr(data-label-off);
         padding-right: 6px;
         font-size: .75em;
         line-height: 1.5rem;
         text-align: right;
    }
}
