@charset "UTF-8";

$table-border-color: rgba(34,36,38,.1);
$table-striped-color: rgba(0,0,50,.02);

.table-action-wrapper {
    .os-content {
        position: static;
    }

    .os-viewport {
        position: static;
        margin-right: 106px;
    }

    position: relative;

    .table-scroll-wrapper {
        width: 100%;
        margin-bottom: 20px;

        .ui.table {
            border: 0;

            thead {
                border-bottom: none;
            }

            > tbody {
                > tr {
                    background-color: #ffffff;

                    > td {
                        background-color: #ffffff;
                        border-left: 1px solid $table-border-color;

                        &:first-child {
                            border-left: 0;
                        }

                        > div {
                            min-height: 36px;
                        }
                    }

                    &:first-child > td {
                        border-top: 1px solid $table-border-color;
                    }

                    &:last-child > td {
                        border-bottom: 1px solid $table-border-color;
                    }

                    td, th {
                        transition: background-color .25s ease;
                    }

                    &:nth-child(odd) {
                        background-color: #ffffff;

                        td, th {
                            background-color: $table-striped-color;
                        }
                    }

                    &:hover {
                        td, th, & {
                            background-color: $table-border-color;
                        }
                    }
                }
            }

            .action-column {
                position: absolute;
                right: 0;
                width: 107px;

                .fluid-buttons {
                    .button {
                        padding: 0 .78571429em;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .icon {
                            margin: 0;
                        }
                    }
                }
            }
        }

        margin-right: 107px;
    }
}
